.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .calculator {
    width: 300px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #516477;
  }
  
  .keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    margin-top: 10px;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    width: 100%;
  }
  
  #result {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
   